.contenedor__ventas {
    width: 106%;
    height: 125px;
    border-radius: 15px 15px 15px 15px;
    background: #FFFFFF;
}
.contenedor__cajas {
    position: relative;
    top:-90px;
    left: -1.3rem;
}
.contenedor__texto {
    margin-left: 1.9rem;
}
.titulo {
    font-size: 14px;
    color: #0E294A;
    font-family: 'Poppins';
}
.numeros {
    font-size: 23px;
    color: #0E294A;
    font-family: 'Poppins';
}
.n_bold {
    font-weight: 600;
}
.contenedor__arrow {
    width: 20px;
    height: 20px;
    background: #E6FAF4;
    border-radius: 50px;
    box-shadow: #00000029 0px 3px 6px;
}
.contenedor__arrow--dos {
    background: #E7EEFC;
}
.contenedo__arrow--tres {
    background: rgb(243, 111, 111,0.2);  
}
.p_porcentaje {
    font-size: 12px;
    position: relative;
    color: #17335B;
    opacity: 48%;
    font-weight: lighter;
}
.contenedor__img__caja {
    width: 55px;
    height: 55px;
    background: #0DCD94;
    border-radius: 50px;
    box-shadow: #00000029 0px 3px 6px;
    position: relative;
    left: 4rem;
}
.contenedor__img--ingresos {
    background: #2E4DD4;
    position: relative;
    left: 5rem;
}
.contenedor__img--web {
    background: #657CDF;
    position: relative;
}
.bolsa {
    width: 28px;
    height: 39px;
}
.img_billetera {
    margin-left: 4px;
    margin-top: 2px;
}
.contenedor__delivery {
    width: 106%;
    height: 191px;
    border-radius: 15px 15px 15px 15px;
    background: #F8FAFF;
    position: relative;
    top: -90px;
    box-shadow: #00000029 0px 3px 6px;
}
.img__delivery {
    width: 190px;
    height: 160px;
}
.p_bienvenida {
    color: #2E4765;
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 20px;
}
.p_nombre {
    font-weight: bold;
}
.contenedor__fecha {
    width: 101%;
    height: 45px;
    border-radius: 15px 15px 0px 0px;
    background: #FFFFFF;
    position: relative;
    top: -70px;
}
.boton {
    height: 25px;
    background: none;
    border: none;
    margin-left: 30px;
    color: #2E4765;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 500;
}
.border__active::before {
  content: '';
  position: absolute;
  top: 33px;
  width: 35px;
  height:4px;
  background: #0AB178;
  border-radius: 8px 8px 8px 8px;
}
.input__calendario {
    background: #E7EEFC;
    height: 30px;
    width: 148px;
    border: none;
    border-radius: 6px 0px 0px 6px;
}
input::placeholder {
    font-size: 12px;
    color: #17335B;
    opacity: 60%;
    padding-left: 14px;
}
.contenedor__img_calendario {
    background: #2E4DD4;
    border-radius: 0px 6px 6px 0px;
    width: 45px;
    height: 30px;
}
.contenedor__grafico {
    width: 101%;
    height: 380px;
    border-radius: 0px 0px 15px 15px;
    background: #FFFFFF;
    position: relative;
    top: -80px;
    left: -10px;
}
.boton_hoy {
    background: #0AB178;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    width: 80px;
    height: 25px;
    font-size: 11px;
    z-index: 1;
}
.boton_ayer {
    background: #ECF0F5;
    border-radius: 5px 5px 5px 5px;
    color: #17335B;
    width: 80px;
    height: 25px;
    font-size: 11px;
    position: relative;
    left: -8px;
}
.grafico {
    position: relative;
    top: -80px;
}
.contenedor__btn__grafico {
    position: relative;
    top: 300px;
}
.btn_active::before{
    content: '';
    position: absolute;
    width: 35px;
    height:4px;
    background: #0AB178;
    border-radius: 8px 8px 8px 8px;
    top: 26px;
}
.contenedor__resumen__pedidos {
    width: 104%;
    height: 380px;
    border-radius: 0px 0px 15px 15px;
    background: #FFFFFF;
    position: relative;
    top: -80px;
}
.p__resumen__periodo {
    color: #0E294A;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
}
.th_p {
    color: #2E4765;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    padding-left: 44px;
}
.cant_vendida {
    padding-left: 45px;
}
.th__producto {
    color: #2E4765;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
}
.active::before {
    content: '';
    position: absolute;
    width: 35px;
    height:4px;
    background: #2E4DD4;
    border-radius: 8px 8px 8px 8px;
    top: 68px;
}
td {
    font-size: 12px;
    font-family: 'Poppins';
}
.producto {
    color: #17335B;
    font-weight: lighter;
}
.categoria, .cantidad {
    color: #91919C;
    font-weight: lighter;
}
.fila {
    height: 45px;
    width: 100%;
    background: rgb(243, 245, 250, 0.3);
}
.categoria, .categoria__active {
    padding-left: 45px;
}
.cantidad, .cantidad__active {
    padding-left: 110px;
}
.file_active {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #0000000D;
    height: 48px;
    border-radius: 8px 8px 8px 8px;
    width: 106%;
}
.producto__active , .categoria__active, .cantidad__active {
    color: #2E4DD4;
    font-weight:500;
}
.contenedor__mas__vendidos {
    position: relative;
    top: 30px;
}
.p_mas_vendidos {
    color: #2E4DD4;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
}
.p__ensalada {
    font-size: 10px;
    color: #17335B;
}
.p_cantidad_ventas {
    color: #FFFFFF;
    font-size: 10px;
    font-weight: lighter;
}
.caja__ventas {
    background: #2E4DD4;
    border-radius: 10px 10px 10px 10px;
    width: 75px;
    height: 18px;
}
.contenedor__producto_mas__vendido {
    position: relative;
    left: -57px;
}
.img_ensalada {
    width: 140px;
    height: 150px;
    position: relative;
    left: -20px;
}
.p_deliveryeasy,.p_derechos {
    color: #9BA0A5;
    font-family: 'Poppins';
    font-size: 15px;
}
.p_derechos {
    font-weight: lighter;
    font-size: 12px;
}

.contenedor__derechos {
    position: relative;
    top: -55px;
}