*{
    font-family: 'Poppins';
    font-size: 14px;
}
.container{
    width: 100%;
}
.contenedor__top__general{
    background-color: #fff;
}
.contenedor__mid__general{
    background-color: #2E4DD4;
    min-height: 200px;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
p{
    margin-bottom: 0;
}
.contendor__seccion{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.contenedor__seccion__p1{
    color: #0E294A;
    font-weight: 600;
    font-size: 20px;
}
.contenedor__seccion__p{
    color: #0E294A;
    font-size: 20px;
}
.boton__facturacion__general{
    border: none;
    background-color: #2E4DD4;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
    min-width: 120px;
    min-height: 40px;
    outline: 0;
}
.contenedor__entradas__general{
    border: 1px solid rgba(145, 169, 192, 0.6);
    background-color: #fff;
    border-radius: 15px;
    min-height: 40px;
    min-width: 40px;
    margin-right: 10px;
}
.contenedor__entradas__general img{
    width: 22px;
    height: 22px;
}
.perfil__general{
    width: 40px;
    height: 40px;
}
.boton__logout__general{
    border: none;
    background-color: #fff;
    color: rgba(46, 71, 101, 0.5);
    font-size: 12px;
    font-family: 'Poppins Light';
    text-align: center;
    border-radius: 8px;
    min-width: 70px;
    min-height: 40px;
}
.contenedor__menu__general{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    height: 60px;
    border-radius: 5px;
}
.contenedor__menu__opcion{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.contenedor__menu__opcion:hover{
    color: #fff;
    background-color: rgb(255, 255, 255, 0.14);
}
.contenedor__opcion__p{
    font-family: 'Poppins Medium';
    font-size: 14px;
    margin-left: 5px;
}

/* Ingresar estilos */
.prueba{
    background-color: #F5F6FA;
}
.left{
    background-color: #fff;
    border-radius: 0px 300px 100px 0px;
    width: 55%;
    height: calc(100% + 40px);
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: -30px;
}
.right{
    background-color: #F5F6FA;
    width: 45%;
    height: 100%;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marca__img{
    height: 250px;
    width: 300px;
}
.titulo__p{
    font-family: 'Poppins SemiBold';
    font-size: 50px;
    color: #0E294A;
}
.derechos__p{
    font-family: 'Poppins Light';
    font-size: 18px;
    color: #0E294A;
    position: absolute;
    bottom: 50px;
}
/* Iniciar sesión */
.contenedor__logo{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__inputs{
    background-color: #F5F6FA;
    width: 50%;
    height: 100%;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;  
    outline: none;
}
/* Ingressar */
.contenedor__ingresar__principal{
    background-color: #fff;
    border-radius: 27px;
}
.titulo__ingresar__p{
    font-family: 'Poppins SemiBold';
    font-size: 32px;
    text-align: left;
    color: #0E294A;
    padding-top: 80px;
}
.ingresar__p{
    font-family: 'Poppins Light';
    font-size: 16px;
    color: rgba(14, 41, 74, 0.7);
    padding-bottom: 30px;
}
.inputs{
    border: 1px solid #989696;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    outline: 0;
    color: #9BA0A5;
    padding-left: 20px;
}
input::placeholder{
    color: #9BA0A5;
    font-size: 16px;
    font-family: 'Poppins Light';
}
.usuario__p, .contraseña__p{
    font-family: 'Poppins';
    font-size: 16px;
    text-align: left;
    color: #9BA0A5;
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 0.5rem;
}
.ingresar__enlaces{
    font-family: 'Poppins Regular';
    font-size: 16px;
    text-align: left;
    color: #9BA0A5;
    text-decoration: none;
    margin-top: 10px;
}
.contenedor__enlaces{
    padding-bottom: 50px;
}
.contenedor__boton{
    padding-bottom: 80px;
}
.boton__ingresar{
    width: 100%;
    height: 60px;
    background-color: #2E4DD4;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.8);
    outline: 0;
    font-family: 'Poppins Light';
    font-size: 16px;
    text-align: center;
    border: none;
}
.contendor__derechos__p{
    position: absolute;
    bottom: 30px;
}
.delivery__p{
    font-weight: 600;
    color: #9BA0A5;
    font-size: 15px;
    text-align: center;
}
.deliveryDerechos__p{
    color: #9BA0A5;
    font-size: 15px;
    text-align: center;
}